.. lsst-config-topic:: {{ cookiecutter.config_module }}.{{ cookiecutter.config_class }}

{{ "#" * (cookiecutter.config_class|length) }}
{{ cookiecutter.config_class }}
{{ "#" * (cookiecutter.config_class|length) }}

``{{ cookiecutter.config_class }}`` provides configuration for ...

.. _{{ cookiecutter.config_module }}.{{ cookiecutter.config_class }}-configs:

Configuration fields
====================

.. lsst-config-fields:: {{ cookiecutter.config_module }}.{{ cookiecutter.config_class }}
