.. program:: {{cookiecutter.script_name}}

{{ "#" * (cookiecutter.script_name|length) }}
{{ cookiecutter.script_name }}
{{ "#" * (cookiecutter.script_name|length) }}

.. Summary sentence that describes what the script does goes here.

.. In additional paragraphs, add extra documentation.

.. code-block:: text

   Usage: {{ cookiecutter.script_name }} [OPTIONS]... [ARGS]

.. Positional arguments
.. ====================
.. 
.. .. option:: fixme
.. 
..    FIXME description of a positional argument.

Optional arguments
==================

.. option:: -h

   Print the help message.
